<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>

<body>
<nav class="navbar bg-body-tertiary" th:fragment="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://firebasestorage.googleapis.com/v0/b/nature-d45bb.appspot.com/o/assets%2Foci.png?alt=media&token=a7a1ef12-378f-42fe-807e-945afe44cc69" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                OCI
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/home">Post</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/channels">Channels</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" th:href="'/profile/'+${userId}">Profile</a>
                </li>
                <li class="nav-item" th:if="${userId} == 0">
                    <a class="nav-link" aria-current="page" href="/login">Login</a>
                </li>
              </ul>
        </div>
</nav>
</body>

</html>

